@import "./assets/css/bootstrap.min.css";
@import "./assets/css/bootstrap.rtl.min.css";

html {
  font-size: 16px;
}

body {
  background: #1a98c7 left top no-repeat
    url("./assets/images/body-background/bg-1.jpg") fixed;
  position: relative;
}

.opacity-img {
  display: block;
  top: 0;
  left: 0;
  z-index: -100000;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(8, 43, 65, 0) 0%, #082b41 60%);
}
