@import "./assets/css/bootstrap.min.css";
@import "./assets/css/bootstrap.rtl.min.css";

html {
  font-size: 16px;
}

body {
  background: #1a98c7 left top no-repeat
    url("./assets/images/body-background/bg-1.jpg") fixed;
  position: relative;
}